body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #d8d8d8;
  line-height: 1.6;
  padding: 20px;
  background-color: #3f3f3a;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-align: center;
}

div.p {
  margin-bottom: 1em;
  text-align: center;
  width: 60%;
  position: relative;
  left: 20%;
}

pre {
    position: relative;
  text-align: center;
  background: #272822;
  color: #f8f8f2;
  border-radius: 5px;
  height: 5em; 
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  padding-left: 0em;
  margin: 0;
  margin-right: 3em;
}

.copyButton {
  height: 2em;
  width: 2em;
  background-color: #acab9e;
  display: inline-block;
  border-radius: 0.3em;
  cursor: pointer;
  position: relative;
}

.copyButton svg {
  height: 1.5em;
  width: 1.5em;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0.25em;
  top: 0.25em;
}

label {
  display: block;
  position: absolute;
  right: 1em;
  top: 0.1em;
}
